*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Sora", sans-serif;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

.MuiModal-hidden-114 {
    visibility: hidden;
}
